.btn {
  padding: 14px 16px 16px;

  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: $secondary-color;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid $secondary-color;
  border-radius: 30px;
}

.btn:hover {
  color: #d22856;
  background-color: $secondary-color;
}

.btn:active {
  color: rgba(210, 40, 86, .3);
}

@media (min-width: $desktop-width) {
  .btn {
    font-size: 21px;
  }
}