.features__subtitle {
  font-size: 24px;
}

.features__list {
  list-style: none;
  margin: 0;
  p0;

  background-color: #f2f2f2;
}

.features__item-heading {
  font-weight: bold;
  color: #000000;
}