.map {
  position: relative;
  height: 200px;

  background-image: url("../img/map.jpg");
  background-position: center -445px;
  background-repeat: no-repeat;
}

.map iframe {
  height: 200px;
}

.map::before {
  content: "";
  position: absolute;
  z-index: 2;
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  border-top: 35px solid $secondary-color;
}

@media (min-width: $tablet-width) {
  .map {
    height: 375px;
  }

  .map iframe {
    height: 375px;
  }

  .map::before {
    border-top-width: 69px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 482px;
  }

  .map iframe {
    height: 482px;
  }

  .map::before {
    border-top-width: 83px;
  }
}
